nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:2px;
    margin-left: 230px;
    
    
}
body{
    margin: 0;

}
header{
    margin: 0s;
    background-color: #0A1829;
}
h1{
    color: #F8F8F8;
}
.tagline{
    color: #C8D0D8;
}
.india{
    color: #D4A24C;
}